@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
    padding: 0 !important;
    font-family: Montserrat, Arial, sans-serif;
}

#app {
    min-height: 100vh;
    color: var(--c-text);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-22deg, var(--c-background), #3c3c3c);
    z-index: -1;
}
